script(type='text/javascript', src='/nowjs/now.js')

div#topContainer
    div#logo LOGO
    div#rooms Top themed rooms:
        ul
          li.first
            a(href='#') pop room
          li
            a(href='#') rock room
          li
            a(href='#') hip-hop room
          li
            a(href='#') jazz room
          li.last
            a(href='#') more ▼
        a(href='/create') Own a room
    div#loginBox
      - if (!logged_in)
        form
            input(type='text',placeholder='Email or nickname',required)   
            input(type='password',placeholder='Password',required)
            input(type='submit',value='Login')
        span or 
            a register
      - else
        div#myUsername #{username}
        a#logout(href='#logout') logout     
div#chatContainer
    div#tabs
        - for(message in process)
            div= message
    div#chat
        - for(message in process)
            p= "<" + message + "> " + message
    div#users
        - for(message in process)
            p= message
    div#message
        form
            input(type='text',placeholder='Type a message',required)   
            input(type='submit',value='Send')
    div#nickname    
        form
            input(type='text',placeholder='Choose a nickname',required)   
            input(type='submit',value='Set nickname')
