include header

script(src='/javascripts/gui.js')
script(src='/javascripts/ragechat.js')
script(src='/javascripts/faces.js')

div#chatContainer
    div.row
        ul.tabs.span16.columns
        div#chats.span11.columns
          div#main.chat
            p Welcome to Ragechat!
        div#users.span5.columns
    div.row
      div.span11
        div#faces
    div.row
        div#message
          div.span7.offset1.columns
            input.span6(type='text', id='msg', placeholder='Type a message', required)                
               
          input.span2.columns.btn.small(type='button', value='Send', onclick='send_message()')
          div.span5.columns
            div.popover.left#sharethis
                div.inner
                    h4.title Share this webstie 
                    div.content <span  class='st_twitter_hcount' displayText='Tweet'></span><span  class='st_facebook_hcount' displayText='Facebook'></span><span  class='st_reddit_hcount' displayText='Reddit'></span><span  class='st_fblike_hcount' ></span><span  class='st_plusone_hcount' ></span>

include footer
