include header

script(src='/javascripts/gui.js')
script(src='/javascripts/ragechat.js')
script(src='/javascripts/faces.js')

div#chatContainer
    div.row
        ul.tabs.span16.columns
        div#chats.span11.columns
          div#main.chat
            p Welcome to Ragechat!
        div#users.span5.columns
    div.row
        div.span11.columns
            div.row
                div#message
                  div.span7.offset1.columns
                    input(type='text', id='msg', placeholder='Type a message', required)   
                  input.span2.columns.btn.small(type='button', value='Send', onclick='send_message()')
            div.row#facesRow
                 div.popover.left
                     div.inner
                         h4.title Click a Rage Face to add it the the message 
                         div.content
                            div#faces
            div.row
                div.span7.offset1.column
                    div.popover.left
                        div.inner
                          h4.title Number of chatting users
                          div.content 
                            h4#userAmount 0
          div.span5.columns
            div.popover.left#sharethis
                div.inner
                    h4.title Share this webstie 
                    div.content
                      span.st_twitter_hcount(displayText='Tweet')
                      span.st_facebook_hcount(displayText='Facebook')
                      span.st_reddit_hcount(displayText='Reddit')
                      span.st_fblike_hcount
                      span.st_plusone_hcount
                      iframe(frameborder="no", scrolling="no", height="50px", width="350px", src="http://hnlike.com/upvote?link=http%3A%2F%2Fupallnight.nko2.nodeknockout.com&title=Ragechat") iframes not supported by your browser

include footer
