include header

script(src='/javascripts/gui.js')
script(src='/javascripts/ragechat.js')

div#chatContainer
    div.row
        ul.tabs.span16.columns
        div#chats.span11.columns
          div#main.chat
            p Welcome to Ragechat!
        div#users.span5.columns
    div.row
        div#message
          input.span7.offset1.columns(type='text', id='msg', placeholder='Type a message', required)   
          input.btn.small(type='button', value='Send', onclick='send_message()')
    div.row
        div#nickname
          input.span7.offset1.columns(type='text', id='nick', placeholder='Choose a nickname', required)   
          input.btn.small.primary(type='submit', onclick='set_nickname', value='Set nickname')