include header

script(type='text/javascript', src='/nowjs/now.js')

script
  var channels = [];
  var active_channel = null;
  
script
  now.join_channel = function(nickname, channel) {
    if (now.core.clientId.toString(36) == nickname) {
      var message = $('<p></p>').html('You joined ' + channel);
      join_channel(channel);
    } else {
      var message = $('<p></p>').html(nickname + ' joined ' + channel);
    }
    
    $('#' + channel).prepend(message);
  };
  
  now.got_message = function(nickname, channel, text) {
    if (now.core.clientId.toString(36) == nickname) {
      var message = $('<p></p>').html(channel);
      join_channel(channel);
    } else {
      var message = $('<p></p>').html(nickname + ' joined ' + channel);
    }
  };

  now.ready(function() {
    
  });
  
  function join_channel(channel) {
    add_tab(channel);
    switch_channel(channel);
  }
  
  function add_tab(channel) {
    var tab = $('<li><a></a></li>');
    tab.addClass('active');
    tab.addClass(channel);
    $('a', tab).html(channel);
    
    tab.click(function() {
      switch_channel($('a', this).text());    
    });
    
    $('.tabs li').removeClass('active');
    $('.tabs').append(tab);
  }
  
  function switch_channel(channel) {
    active_channel = channel;
    $('.chat').hide();
    
    if ($('#' + channel).length > 0) {
      $('#' + channel).show();
    } else {
      var chan = $('<div />');
      chan.attr('id', channel);
      chan.addClass('chat');
      $('#chats').append(chan);
    }
    
    $('.tabs li').removeClass('active');
    $('.tabs li.' + channel).addClass('active');
  }

div#chatContainer
    ul.tabs
    div#chats
      div#main.chat
        p Welcome to Ragechat!
    div#users
    div#message
        form
            input(type='text',placeholder='Type a message',required)   
            input(type='submit',value='Send')
    div#nickname
        form
            input(type='text',placeholder='Choose a nickname',required)   
            input(type='submit',value='Set nickname')
