include header

script(type='text/javascript', src='/nowjs/now.js')

script(src='/javascripts/ragechat.js')  

div#chatContainer.row
    ul.tabs
    div#chats.span10.columns
      div#main.chat
        p Welcome to Ragechat!
    div#users.span6.columns
    div#message
      input(type='text', id='msg', placeholder='Type a message', required, )   
      input.btn.small(type='button', value='Send', onclick='send_message()')
    div#nickname
      input(type='text', placeholder='Choose a nickname', required)   
      input.btn.small.primary(type='submit', value='Set nickname')

script
    $("#msg").keyup(function(event){
      if(event.keyCode == 13){
        send_message();
      }
    });
