div#logo LOGO
div#rooms
    ul
      li.first
        a(href='#') pop room
      li
        a(href='#') rock room
      li
        a(href='#') hip-hop room
      li
        a(href='#') jazz room
      li.last
        a(href='#') more ▼
div#loginBox
div#chatContainer
    div#chat
    div#users
    div#message
    div#setNickname    
     
