!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap-1.1.1.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
  body!= body
