!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
    - if (typeof user_token != 'undefined')
      meta(name='token', content=user_token)
  body!= body
