include header

h1= title

form(action='/login', method='POST')

  div.username.clearfix
    label(for='username') Username
    div.input
        input(type='text', id='username', name='username')
    
  div.password
    label(for='password') Password
    div.input
        input(type='password', id='password', name='password')
    
  div.submit
    input.btn.primary(type='submit', value='Login')
