include header

h1= title

form#register(action='/register', method='POST')
  div.errors
    ul
    - each error in errors
      li= error

  div.username.clearfix
    label(for='username') New username
    div.input
        input(type='text', id='username', name='username')
        
  div.email.clearfix
      label(for='email') Your email
      div.input
          input(type='text', id='email', name='email')
    
  div.password.clearfix
    label(for='password') Set password
    div.input
        input(type='password', id='password', name='password')
    
  div.password_confirm.clearfix
    label(for='password_confirm') Repeat password
    div.input
        input(type='password', id='password_confirm', name='password_confirm')
    
  div.captcha.clearfix
    label.recaptcha Proove you're human
    != recaptcha_form
    
  div.submit
    input.btn.primary(type='submit', value='Register')
