include header

h1= title

form#register(action='/register', method='POST')
  div.errors
    ul
    - each error in errors
      li= error

  div.username.clearfix
    label(for='username') username
    div.input
        input(type='text', id='username', name='username')
    
  div.password.clearfix
    label(for='password') password
    div.input
        input(type='password', id='password', name='password')
    
  div.password_confirm.clearfix
    label(for='password_confirm') password_confirm
    div.input
        input(type='password', id='password_confirm', name='password_confirm')
    
  div.email.clearfix
    label(for='email') email
    div.input
        input(type='email', id='email', name='email')
    
  div.captcha.clearfix
    != recaptcha_form
    
  div.submit
    input(type='submit', value='register')
