body {
    width: 940px;
    margin: 0 auto;
}








/*body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width:960px;
    margin:0 auto;
}
a {
  color: #00B7FF;
}
a#logo{
    width:30%;
    height:150px;
    background-color:#66AAAA;
    float:left;
}
div#rooms{
    width:30%;
    float:left;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
div#loginBox{
    float:right;
    width:30%;
}
div#loginBox form{
    float:left;
}
div#loginBox form * {
    width:100%;
}
div#chatContainer{
   float:none;
    margin:0 auto;
    width:90%; 
}
div#chat{
float:left;
}
div#chat, div#users{
height: 500px;
overflow-y: scroll;
}
div#chat, div#message, div#nickname{
width:70%;
}
div#message form, div#nickname form{
    width:100%;
}
div#message form input[type=text], div#nickname form input[type=text] {
    width:78%;
}
div#message form input[type=submit], div#nickname form input[type=submit] {
    width:20%;
}
div#users{
width:30%;
}
div#topContainer{
    width:100%;
    float:left;
}
div#tabs{
   overflow:hidden;
    width:70%; 
}
div#tabs{
    height:21px;
}
div#tabs div{
    line-height:20px;
    padding:0 5px;
    background: #074c68;
    color: white;
    border-radius:5px 5px 0 0;
    margin:1px 1px 0 0;
    height:20px;
}
div#myUsername{
    width:100%;
    text-align:right;
    font-size:larger;
}
a#logout{
    float:right;
}
div#tabs .active{
   font-weight:bold;
   height:21px; 
   margin-top:0;
}*/
