body {
    width: 940px;
    margin: 0 auto;
}
#loginBox form{
    float:right;
    margin-top:20px;
}
#loginBox h2{
    width:100%;
    text-align:right;
}
#logout{
    float:right;
}
#loginBox .clearfix {
    margin-bottom:5px;
}
#loginBox span {
    margin-left:10px;
}
.tabs li a {
  cursor: pointer;
}
label.recaptcha {
  margin-right: 19px;
}
#recaptcha_response_field{
    left:0;
}
#chats, #users{
    height:300px;
    overflow-y:scroll;
    background: whiteSmoke;
    border-top: 1px solid #DDD;

}
#chatContainer .tabs{
    margin-bottom:0;
}
#chatContainer .row{
    margin-bottom:2px;
}
#users{
    margin-left:0;
    padding-left:20px;
}
.face{
    background-image:url('/art/face_grid.png');
    width:64px;
    height:64px;
}
.popover{
    display:block;
    position:static;
}
#topContainer .popover .inner{
    width:184px;
}
.popover .inner{
    text-align:center;
}
#vote iframe{
    padding-left:36px;
}
#footer{
   position:fixed;
   bottom:0; 
}
#sharethis{
    margin-left:33px;
}
#sharethis .content > span{
    margin-bottom:10px;
    display:block;
}
.chat{
    padding:8px;
}
#msg, #message .popover .inner{
    width:100%;
}
